node_modules/

.expo/
.expo-shared/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

/.pnp
.pnp.js

dist/
build/

.DS_Store
.vscode/
.idea/
*.sublime-workspace

*.apk
*.ap_
*.dex
*.so
*.log
*.keystore
*.jks

/.gradle/
/captures/
/local.properties
/.externalNativeBuild/
