# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# anroid
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
android/.settings/
*.iml
.gradle/
*.apk
*.keystore

# Expo
.expo/
.expo-shared/
web-build/
.cache/
dist/
expo-shell-app/
*.tar.gz

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
